:host {
  height: 100%;
  display: block;
}

nav {
  background: sandybrown;
  display: flex;
  height: 75px;

  .menu-entry {
    margin: 15px;
    padding: 0 20px;
    background: #ad7649;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.main {
  display: flex;
  max-height: calc(100% - 75px);

  .content {
    flex: 5;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  app-shopping-basket {
    flex: 1;
  }
}
